---
import LandingLayout from '@/layouts/LandingLayout/index.astro';

// TODO: Analytics
// TODO: Add Latest Articles

// TODO: https://developers.google.com/search/blog/2009/10/fetch-as-googlebot-and-malware-details
// Fetch as Google Bot and make sure the site accurately returns 404 HTTPS only for googlebot

// TODO - SOFT 404

const title = '404 - Page Not Found';
const description =
	'The link you followed may be broken, or the page must not exist.';
const keywords = ['404', 'Page Not Found'];
---

<LandingLayout title={title} description={description} keywords={keywords}>
  <div class="mx-auto h-screen max-w-[64rem] py-48">
    <h2 class="text-3xl font-semibold leading-relaxed">
      The link you followed may be broken,
      <br /> or the page must not exist.
    </h2>

    <a
      href="/"
      class="mt-16 block w-fit rounded-md border border-neutral-800 bg-neutral-900 px-4 py-2 text-lg text-neutral-300"
    >
      Go to Home Page
    </a>

    <div
      class="mb-12 mt-28 block rounded-md text-lg font-medium text-neutral-400"
    >
      You can browse my Recent Blog Posts:
    </div>

    <div>ARTICLES LIST</div>
  </div>
</LandingLayout>
