---
import ButtonLink from '@/components/ui/ButtonLink.astro';
import Section from '@/components/ui/Section.astro';
import LandingLayout from '@/layouts/LandingLayout/index.astro';

const title = '404 - Page Not Found';
const description = '';
const keywords = [] as never[];
const open_graph = {};
const schema_markup = [] as never[];
const seo = { title, description, keywords, open_graph, schema_markup };
---

<LandingLayout {...seo}>
  <Section class="min-h-[85vh] flex flex-col justify-center items-center">
    <h2 class="text-3xl font-semibold leading-relaxed text-center">
      The link you followed may be broken,
      <br /> or the page must not exist.
    </h2>

    <ButtonLink href="/" size="lg" variant="primary" class="mt-16">
      Go to Home Page
    </ButtonLink>
  </Section>
</LandingLayout>
