---
import ButtonLink from "@/components/ui/ButtonLink.astro";
import Section from "@/components/ui/Section.astro";
import LandingLayout from "@/layouts/LandingLayout/index.astro";
import { SchemaMarkup } from "@/lib/schema-markup";

const title = "404 - Page Not Found";
const description =
  "The link you followed may be broken, or the page must not exist.";
const keywords = ["404", "Page Not Found"];
const open_graph = {};
const schema_markup = SchemaMarkup.get("person");
const seo = { title, description, keywords, open_graph, schema_markup };

const sustainability = {
  co2: 1,
  link: "",
};
---

<LandingLayout {...seo} sustainability={sustainability}>
  <Section class="h-screen">
    <h2 class="text-3xl mt-48 font-semibold leading-relaxed">
      The link you followed may be broken,
      <br /> or the page must not exist.
    </h2>

    <ButtonLink href="/" size="lg" variant="primary" class="mt-16">
      Go to Home Page
    </ButtonLink>
  </Section>
</LandingLayout>
