---
import ButtonLink from '@/components/ui/ButtonLink.astro';
import LandingLayout from '@/layouts/LandingLayout/index.astro';
import Section from './services/(components)/_Section.astro';

// TODO: Analytics

// TODO - SOFT 404
// Fetch as Google Bot and make sure the site accurately returns 404 HTTPS only for googlebot
// if from googlebot, return 404
// 404 or 410 or redirect

const title = '404 - Page Not Found';
const description =
	'The link you followed may be broken, or the page must not exist.';
const keywords = ['404', 'Page Not Found'];
---

<LandingLayout title={title} description={description} keywords={keywords}>
  <Section class="h-screen">
    <h2 class="text-3xl mt-48 font-semibold leading-relaxed">
      The link you followed may be broken,
      <br /> or the page must not exist.
    </h2>

    <ButtonLink href="/" size="lg" variant="primary" class="mt-16">
      Go to Home Page
    </ButtonLink>
  </Section>
</LandingLayout>
