---
import { Image } from "astro:assets";

import LandingLayout from "@/layouts/LandingLayout/index.astro";
---

<LandingLayout
  title="Aditya Borkar - Product Engineer"
  description="Some catching ranking text"
  keywords={["Aditya Borkar", "Product Engineer", "Software Engineer"]}
>
  <div></div>
</LandingLayout>
