---
import { cn } from "@/lib/utils";

interface Props {
  // biome-ignore lint/suspicious/noExplicitAny: Write Types after SVG is stable
  icon: any;
  label: string;
  class?: string;
}

const { icon: Icon, label, class: className } = Astro.props;
---

<div class="mx-auto mb-6 mt-48 max-w-[64rem] text-base text-text-secondary">
  <Icon className="mx-1 inline size-4 align-[-2px] font-medium" />
  {label}
</div>

<h3
  class={cn(
    "text-5xl text-left mb-16 font-semibold mx-auto max-w-[64rem]",
    className,
  )}
>
  <slot />
</h3>
