---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";
import CirclePlusIcon from "@/assets/icons/CirclePlus.svg";

type Props = {
  image: ImageMetadata;
};

const { image }: Props = Astro.props;
---

<div
  class="relative cursor-pointer rounded-3xl border border-border/20 bg-white px-8 py-4 text-2xl font-semibold transition-all duration-300 hover:scale-105 hover:shadow-lg"
>
  <Image src={image} alt="" class="mx-auto mb-6 mt-2 block h-36 w-auto" />
  <slot />
  <CirclePlusIcon class="absolute bottom-5 right-5 text-text-secondary" />
</div>
