---
import Icon from "@/components/ui/Icon.astro";
---

<div
    class="fixed border flex flex-row justify-around border-border/10 shadow-lg rounded-full py-3 text-center w-[20rem] bg-background left-[calc(50%-10rem)] hover:bottom-6 -bottom-6 z-50"
>
    <Icon
        icon="ArrowUp"
        class="size-6 fill-text-tertiary hover:fill-text-primary"
    />
    <Icon
        icon="HandHeart"
        class="size-6 fill-text-tertiary hover:fill-text-primary"
    />
    <Icon
        icon="Flower"
        class="size-6 fill-text-tertiary hover:fill-text-primary"
    />
    <Icon
        icon="Briefcase"
        class="size-6 fill-text-tertiary hover:fill-text-primary"
    />
    <Icon
        icon="HandVictory"
        class="size-6 fill-text-tertiary hover:fill-text-primary"
    />
    <Icon
        icon="Currency"
        class="size-6 fill-text-tertiary hover:fill-text-primary"
    />
    <Icon
        icon="QuestionMark"
        class="size-6 fill-text-tertiary hover:fill-text-primary"
    />
</div>
