---
import DockLink from './_DockLink.astro';
---

<!-- <div
    id="dock-container"
    class="fixed group bottom-0 left-[calc(50%-32rem)] h-24 w-full max-w-[64rem] z-30"
> --><!-- /group-hover:translate-y-4 -->
<div
    id="dock"
    class:list={[
        "mx-auto h-16 border flex flex-row gap-2 px-4 justify-around border-border/20 bg-bg-primary shadow-lg rounded-2xl py-3 text-center w-[20rem] left-[calc(50%-10rem)] hover:bottom-6 -bottom-6 z-50 translate-y-16 transition-all duration-300",
        "max-md:bottom-6 max-md:justify-normal max-md:gap-4 max-md:px-4 w-fit",
        "max-md:hidden",
    ]}
>
    <DockLink title="Scroll to top" href="#top" icon="ArrowUp" />
    <DockLink title="Services" href="#services" icon="Flower" />
    <DockLink title="Process" href="#process" icon="HandHeart" />
    <DockLink title="Work" href="#work" icon="Briefcase" />
    <DockLink title="Pricing" href="#pricing" icon="Currency" />
    <DockLink title="Testimonials" href="#testimonials" icon="HandVictory" />
    <DockLink title="FAQs" href="#faqs" icon="QuestionBubble" />
</div>

<script>
    import { transform, frame, motionValue, animate, hover } from "motion";

    // TODO: FIX CLICK AND HOVER AROUND IT

    const dock = document.getElementById("dock");
    const items = Array.from(dock?.children || []);
    const yTransform = transform([-220, 0, 220], [0, -40, 0]);
    const sizeTransform = transform([-220, 0, 220], [40, 80, 40]);
    const paddingTransform = transform([-220, 0, 220], [8, 16, 8]);

    const pointerX = motionValue(0);
    const pointerY = motionValue(0);
    pointerX.on("change", () => {
        frame.postRender(DockAnimation);
    });
    pointerY.on("change", () => {
        frame.postRender(DockAnimation);
    });

    dock?.addEventListener("pointermove", (e) => {
        pointerX.set(e.clientX);
    });
    dock?.addEventListener("pointerleave", () => {
        pointerX.set(0);
    });

    function DockAnimation() {
        const PointerX = pointerX.get();
        items.forEach((item) => {
            const { x, width } = item.getBoundingClientRect();
            const distance = PointerX - x - width / 2;
            const y = yTransform(distance);
            const size = sizeTransform(distance);
            const padding = paddingTransform(distance);
            animate(
                item,
                { width: size, height: size, y, padding },
                { duration: 0.3 },
            );
        });
    }

    function DockHoverAnimation() {}
</script>
