---
interface Props {
    label: string;
    class?: string;
}
---

<div class="mx-auto mb-4 mt-32 max-w-[64rem]">
    <div
        class:list={[
            "w-fit text-sm bg-clip-text text-transparent bg-gradient-to-r from-amber-500 to-amber-600 border border-border/20 rounded-full font-bold px-3 py-1 uppercase tracking-wider",
        ]}
    >
        {Astro.props.label}
    </div>
</div>

<h3
    class:list={[
        "text-5xl text-left mb-12 font-semibold mx-auto max-w-[64rem]",
        Astro.props.class,
    ]}
>
    <slot />
</h3>
