---
interface Props {
	label: string;
	class?: string;
}
---

<h3
    class:list={[
        "relative text-5xl text-left mb-12 font-semibold mx-auto max-w-[64rem] opacity-100",
        Astro.props.class,
    ]}
>
    <div
        class="mb-4 mt-32 w-fit text-sm bg-clip-text text-transparent bg-gradient-to-r from-amber-500 to-amber-600 border border-border/20 rounded-full font-bold px-3 py-1 uppercase tracking-wider"
    >
        {Astro.props.label}
    </div>

    <slot />
</h3>
