---
interface Props {
    class?: string;
}
---

<section
    class:list={[
        "relative max-w-[64rem] mx-auto max-md:px-4 opacity-100",
        Astro.props.class,
    ]}
>
    <slot />
</section>
