---
import { cn } from "@/lib/utils";

interface Props {
    label: string;
    img: string;
}

const { label, img } = Astro.props;
---

<div>
    <div
        class={cn(
            "w-fit rounded-2xl border-2 border-border/20 bg-white px-8 py-4 text-lg font-semibold text-text-primary hover:text-xl dark:bg-black",
            "hover:bg-green-300 hover:[animation-iteration-count:infinite] dark:hover:bg-emerald-800",
        )}
        style={{
            animationName: "apple-wobble",
            transformOrigin: "50% 10%",
            animationDuration: "300ms",
        }}
    >
        {/* TODO: ON HOVER IMAGE */}
        {
            img && (
                <img
                    src={img}
                    alt={label}
                    class="mr-2 inline-block size-6 align-top"
                />
            )
        }
        {label}
    </div>
</div>
