---
interface Props {
    class?: string;
    "animate-fade"?: boolean;
}

const { class: className, ...props } = Astro.props;
---

<p
    class:list={[
        "mt-4 text-pretty text-sm text-text-tertiary",
        "md:text-base",
        className,
    ]}
    {...props}
>
    <slot />
</p>
