---
interface Props {
    class?: string;
}

const { class: className } = Astro.props;
---

<p
    class:list={[
        "mt-4 text-pretty text-sm text-text-tertiary",
        "md:text-base",
        className,
    ]}
>
    <slot />
</p>
