---
interface Props {
  children: astro.JSX.Element
  className?: string
}

const { children, className } = Astro.props
---

<button
  type="submit"
  class={className}
  data-cal-namespace=""
  data-cal-link="aditya-borkar/tech"
  data-cal-config='{"layout":"month_view"}'
>
  {children}
</button>

<script>
  // TODO: Implement Cal.com integration when it supports newer React versions
  // import { getCalApi } from '@calcom/embed-react'

  // (async () => {
  //   const cal = await getCalApi()
  //   cal('ui', {
  //     styles: { branding: { brandColor: '#000000' } },
  //     hideEventTypeDetails: false,
  //     layout: 'month_view',
  //   })
  // })()
</script>
