---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a
  href={href}
  target={href.startsWith("/") ? undefined : "_blank"}
  class="mt-2 block w-fit shrink-0 hover:text-text-primary text-text-secondary"
>
  <slot />
</a>
