---
interface Props {
	href: string;
	openInNewTab?: boolean;
}

const { href, openInNewTab = false } = Astro.props;
---

<a
  href={href}
  target={openInNewTab ? "_blank" : undefined}
  class="mt-2 gap-1.5 flex flex-row items-center w-fit shrink-0 hover:text-text-primary text-text-secondary"
>
  <slot />
</a>
