---
import BookCallFooter from "@/components/BookCallFooter.astro";
import LandingLayout from "@/layouts/LandingLayout/index.astro";
import { getSchemaMarkup } from "@/lib/utils";
import Dock from "./(components)/_Dock.astro";
import AboveTheFold from "./(sections)/_AboveTheFold.astro";
import ProcessSection from "./(sections)/_ProcessSection.astro";
import ServicesSection from "./(sections)/_ServicesSection.astro";
import WorkSection from "./(sections)/_WorkSection.astro";
import TestimonialSection from "./(sections)/_TestimonialSection.astro";
import PricingSection from "./(sections)/_PricingSection.astro";
import FaqSection from "./(sections)/_FaqSection.astro";

const title = "Services";
const description = "Services";
const keywords = ["Services"];
const SchemaMarkup = [getSchemaMarkup("person")];
---

<LandingLayout
  title={title}
  keywords={keywords}
  description={description}
  schemaMarkup={SchemaMarkup}
>
  <Dock />

  <AboveTheFold />

  <ServicesSection />

  <ProcessSection />

  <WorkSection />

  <TestimonialSection />

  <PricingSection />

  <FaqSection />

  <BookCallFooter />

  <div
    class="h-[12rem] bg-gradient-to-t from-background to-transparent w-screen fixed bottom-0 left-0"
  >
  </div>
</LandingLayout>

<script>
  import { animate } from "motion/mini";
  import { inView } from "motion";

  const MagicFadeDownAnimation = (
    element: Element,
    entry: IntersectionObserverEntry,
  ) => {
    const animation = animate(
      element,
      {
        y: [200, 0],
        opacity: [0, 1],
        filter: ["blur(30px)", "blur(0px)"],
      },
      { delay: 0.1, duration: 0.6 },
    );
    return () => animation.stop();
  };

  inView("section", MagicFadeDownAnimation, { margin: "200px" });
  inView("h3", MagicFadeDownAnimation, { margin: "200px" });
</script>

<style>
  section {
    opacity: 0 !important;
  }
  h3 {
    opacity: 0 !important;
  }
</style>
