---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Marquee from "@/components/ui/Marquee.astro";
import { getImage } from "@/lib/assets";
import CalMeetButton from "@/components/CalMeetButton.astro";

const Clients = await getCollection("clients");
---

<section class="flex h-screen flex-col items-center justify-center">
    <div class="relative">
        <Image
            alt=""
            loading="eager"
            src={getImage("illustrations/vr-headset-pro.png")}
            class:list={[
                "absolute -left-16 -top-13 z-0 w-36 -rotate-12 -scale-x-100",
                "magic-fade-right delay-300 starting:rotate-[-24deg]",
            ]}
        />
        <h1
            class:list={[
                "relative z-10 text-center text-7xl font-bold text-text-primary leading-snug tracking-tight",
                "magic-fade-down delay-300",
            ]}
        >
            <span
                class="bg-gradient-to-tl via-fuchsia-600 to-pink-600 from-blue-700 bg-clip-text text-transparent"
            >
                Transform
            </span>
            {" your "}
            <span
                class="bg-gradient-to-br from-amber-600 to-orange-600 bg-clip-text text-transparent"
            >
                ideas
            </span>
            {" with an "}
            <br />
            <span class="font-serif italic font-normal">
                Expert Product Engineer
            </span>
        </h1>

        <div
            class:list={[
                "text-center text-lg text-text-tertiary max-w-[32rem] mx-auto mt-16 mb-12",
                "magic-fade-down delay-600",
            ]}
        >
            Building web applications and websites that drive results and help
            your business grow. No BS. Just Results.
        </div>
    </div>

    <div class:list={["flex flex-row gap-8", "magic-fade-down delay-800"]}>
        <CalMeetButton
            text="Schedule a Call"
            class:list={[
                "bg-text-primary px-8 py-4 text-lg text-background shadow-lg group mx-auto block w-fit rounded-full font-semibold",
                "hover:scale-125 uppercase",
            ]}
        >
            Schedule a Call
        </CalMeetButton>
        <!--
        <a
            href="/contact"
            class="border border-border/20 px-8 py-4 text-lg text-text-secondary shadow-lg group mx-auto block w-fit rounded-full font-semibold"
        >
            <Icon icon="ArrowUpRight" class="-mt-1 ml-2 stroke-1 inline" />
            Watch Video Intro
        </a>
        -->
    </div>

    <div
        class:list={[
            "mb-4 mt-28 text-center font-semibold tracking-wide text-text-tertiary",
            "magic-fade-up delay-1500",
        ]}
    >
        TRUSTED BY STARTUPS, AGENCIES, BUSINESSES AND NON-PROFITS - ACROSS THE
        GLOBE.
    </div>
    <div
        class:list={[
            "relative max-w-[64rem] mx-auto",
            "magic-fade-up delay-2000",
        ]}
    >
        <div
            class="absolute bottom-0 right-0 top-0 z-10 h-full w-56 bg-gradient-to-l from-background"
        >
        </div>
        <div
            class="absolute bottom-0 left-0 top-0 z-10 h-full w-56 bg-gradient-to-r from-background"
        >
        </div>
        <Marquee duration="15s">
            {
                Clients.map(({ data: client }) => (
                    <Image
                        loading="eager"
                        alt={client.id}
                        title={client.id}
                        src={getImage(client.logo)}
                        class:list={["mx-8 h-9 w-fit ", client.className]}
                    />
                ))
            }
        </Marquee>
    </div>
</section>
