---

---

<h2 class="text-center text-4xl font-semibold">Pricing</h2>
<section class="mt-24 max-w-[64rem] mx-auto">
    <div class="grid grid-cols-[auto_22rem] gap-4">
        <div
            class="row-span-2 flex flex-col justify-between rounded-2xl border border-border/20 bg-white px-8 py-6"
        >
            <div
                class="grid grid-cols-4 gap-y-16 text-text-primary text-center"
            >
                <div>Full Stack Development</div>
                <div>Artificial Intelligence Development</div>
                <div>Prototype / MVP Development</div>
                <div>Custom Technology Solution</div>
                <div>Agile Development</div>
                <div>Timely Service</div>
                <div>Weekly Updates</div>
                <div>Flexible Timezone</div>
            </div>
            <div class="text-text-tertiary">
                <div>We request for 40% upfront payment.</div>
                <div>We invoice based on milestones or weekly basis.</div>
                <div popovertarget="pricing-currency-rates">
                    We support payments in: USD, EUR, GBP, AUD, CAD, SGD, INR
                    [i]
                </div>
                <div popover id="pricing-currency-rates">
                    <div>1 USD = 3.70 AED (Arab Emirates Dirham)</div>
                    <div>1 USD = 1.65 AUD (Australian Dollar)</div>
                    <div>1 USD = 0.85 GBP (British Pound)</div>
                    <div>1 USD = 1.50 CAD (Canadian Dollar)</div>
                    <div>1 USD = 0.95 EUR (Euro)</div>
                    <div>1 USD = 80.00 INR (Indian Rupee)</div>
                    <div>1 USD = 1.35 SGD (Singapore Dollar)</div>
                    <div>
                        These rates are exclusively for reference. Actual rates
                        shall be applicable as per the quote / invoice.
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-text-primary rounded-2xl px-8 py-6">
            <div class="text-4xl text-bg-primary font-semibold">
                <div
                    class="text-sm text-bg-tertiary uppercase tracking-wide mb-2"
                >
                    Hourly
                </div>
                $20 - $35
            </div>
            <div
                class="mt-8 ml-auto w-fit block rounded-full bg-bg-secondary text-text-primary px-4 py-2 text-sm font-medium"
            >
                Book a call
            </div>
        </div>
        <div class="bg-text-primary rounded-2xl px-8 py-6">
            <div class="text-4xl text-bg-primary font-semibold">
                <div
                    class="text-sm text-bg-tertiary uppercase tracking-wide mb-2"
                >
                    per Project
                </div>
                Custom Pricing
            </div>
            <div
                class="mt-8 ml-auto w-fit block rounded-full bg-bg-secondary text-text-primary px-4 py-2 text-sm font-medium"
            >
                Request a Quote
            </div>
        </div>
    </div>
</section>
