---
import { PRICING } from 'cms/constants';
import Section from '@/components/ui/Section.astro';
import PricingCard from '@/pages/services/(components)/_PricingCard.astro';
import Heading from '../(components)/_Heading.astro';

const Benefits = [
	// {
	//     title: "Full Stack <br/> Development",
	//     svg: "/assets/illustrations/full-stack.webm",
	// },
	// {
	//     title: "AI <br/> Development",
	//     svg: "/assets/illustrations/3d-chatbot-head.webm",
	// },
	// {
	//     title: "MVP <br/> Development",
	//     svg: "/assets/illustrations/3d-chatbot-head.webm",
	// },
	// {
	//     title: "Custom Tech <br /> Solutions",
	//     svg: "/assets/illustrations/3d-chatbot-head.webm",
	// },
	// {
	//     title: "3+ years of <br/> Expertise",
	//     svg: "/assets/illustrations/3d-chatbot-head.webm",
	// },
	// {
	//     title: "100% Client Satisfaction",
	//     svg: "/assets/illustrations/3d-chatbot-head.webm",
	// },
	// {
	//     title: "Regular Updates & Timely Delivery",
	//     svg: "/assets/illustrations/3d-chatbot-head.webm",
	// },
	// {
	//     title: "Flexible Timezone & Work Hours",
	//     svg: "/assets/illustrations/3d-chatbot-head.webm",
	// },
	// {
	//     title: "Flexible Payment Terms",
	//     svg: "/assets/illustrations/3d-chatbot-head.webm",
	// },
	{
		title: 'Unlimited Revisions',
	},
	{
		title: '24-hour support response time',
	},
	{
		title: 'Private communication channel',
	},
	{
		title: 'Bespoke, Responsive-first Design',
	},
	{
		title: 'Secure, Privacy, Reliable and Scalable',
	},
	{
		title: 'Fast Load Times and Performant',
	},
	{
		title: 'ROI driven focus',
	},
	{
		title: 'Single Point of Contact',
	},
	{
		title: 'On-Time Delivery with 100% Satisfaction',
	},
	{
		title: 'Web Apps and SaaS Development',
	},
	{
		title: 'AI Apps development',
	},
	{
		title: 'Professional Integrations',
	},
	{
		title: 'Search Engine Optimization',
	},
	{
		title: 'CMS integration',
	},
	{
		title: 'Design + Development',
	},
];
---

<Section id="pricing">
    <Heading
        label="Pricing"
        heading="How much does it cost?"
        caption="We offer flexible and transparent pricing options to suit your project needs. Our pricing is based on the complexity of the project, the timeline, and the resources required."
    />

    <div
        class:list={[
            "grid gap-4",
            "md:grid-cols-[auto_22rem] max-md:grid-cols-2",
        ]}
    >
        <div
            class:list={[
                "row-span-3 rounded-2xl bg-bg-primary/50 border border-border/10 px-8 py-6",
                "max-md:col-span-2",
            ]}
        >
            <div
                class:list={[
                    "grid grid-cols-2 gap-y-4 text-text-primary",
                    "max-md:grid-cols-2",
                ]}
            >
                {
                    Benefits.map((benefit) => (
                        <div>
                            <div set:html={benefit.title} />
                        </div>
                    ))
                }
            </div>
        </div>

        <PricingCard title="Hourly Rate" price={PRICING.HOURLY} />
        <PricingCard title="Monthly Retainer" price={PRICING.MONTHLY} />

        <div>
            <ul
                class:list={[
                    "text-text-quaternary ml-6 mb-8 *:pt-1 list-disc",
                    "max-md:text-xs",
                ]}
            >
                <li>Billed on milestones, hourly, or fixed price basis.</li>
                <li>We support payments in multiple currencies.</li>
                <li>We request for 50% upfront payment.</li>
            </ul>
        </div>
    </div>
</Section>
