---
import Section from '@/components/ui/Section.astro';
import ProcessCard from '@/pages/services/(components)/_ProcessCard.astro';
import Heading from '../(components)/_Heading.astro';
import ProcessDiv from '../(components)/_ProcessDiv.astro';
---

<Section class="" id="process">
    <Heading label="Process" heading="How I Build Your Idea" />

    <div class="mt-48 flex flex-col gap-[30vh]">
        <ProcessCard tag="Phase 1" title="Discovery Stage" class="">
            You are able to do this smoothly and efficiently via the Contact
            Request or a Video Meeting. The information you provide really helps
            me to understand whether I am the right person for your vision. If I
            believe that my skill-set is certain to fulfill the project, I will
            send you my pricing and schedule a video call to discuss the project
            scope in detail. I strive to get back to every project request
            within 48 hours.
        </ProcessCard>

        <ProcessCard tag="Phase 2" title="Scope & Proposal" class="mt-4">
            The main aim of this video call is to establish trust and
            understanding on both sides. We will discuss precise goals,
            timeframes & requirements, clarify any questions and plot out a
            clear and actionable plan going forwards. My favourite part of these
            calls is meeting people passionate about their project, with grand
            ideas for manifesting it online.
            <!-- Scope, Development Plan and Estimate -->
            Once I have a clear understanding of your project scope, I will create
            an individual proposal for you. I love working closely with internal
            design teams, or fleshing out compelling branding & storytelling ideas
            myself. I charge on a per-project basis, rather than by the hour. This
            keeps everything transparent and straightforward, as you have a comprehensive
            overview of the costs and timeline.
        </ProcessCard>

        <ProcessCard tag="Phase 3" title="Design & Construction">
            If both parties are content with the proposal, I start my lofi
            playlist and get to work. I often begin with some rough pencil
            sketches / UX flowcharts before moving onto the more rigorous
            code-crunching, copywriting and style mockup elements. You’ll always
            be kept up to date—clear, responsive communication is at the heart
            of everything I do.

            <!-- We develop your product in iterative substages, allowing for
                    quicker testing, feedback and adjustments to align with your
                    expectations and business needs. -->
            <!-- Writing clean, modular, and
                    efficient code for both front-end and back-end. Implementing
                    unit tests, integration tests, and conducting thorough QA. -->
            <!-- In this phase, the requirement gathered in the SRS document
                    is used as an input and software architecture that is used
                    for implementing system development is derived. Creating
                    architecture and design plans, including database schema and
                    UI/UX wireframes. -->
            <div class="grid grid-cols-2 gap-2 mt-4">
                <ProcessDiv serial="1">Product Design</ProcessDiv>
                <ProcessDiv serial="2">Software Architecture</ProcessDiv>
                <ProcessDiv serial="3"> Mobile & Web Development </ProcessDiv>
                <ProcessDiv serial="4"> Backend Development </ProcessDiv>
                <ProcessDiv serial="5" class="col-span-2">
                    Deployment & Preview Releases
                </ProcessDiv>
                <ProcessDiv serial="6" class="col-span-2">
                    Artificial Intelligence
                </ProcessDiv>
            </div>
        </ProcessCard>

        <ProcessCard tag="Phase 4" title="Launch & Handover">
            Before launching a client website, I make sure to demonstrate its
            speed, quality & potency via a series of stress-tests and
            optimisation-checks. The site itself will be hosted on Webflow’s
            lightning-quick servers. I only send accompanying design work via
            channels which either do not compress at all, or utilise lossless
            compression (eg: WeTransfer), ensuring the quality always remains
            perfect. I want shipping-day to be a celebration, not a panic.
            <!--  -->
            Testing starts once the coding is complete and the modules are released
            for testing. In this phase, the developed software is tested thoroughly
            and any defects found are assigned to developers to get them fixed. Retesting,
            regression testing is done until the point at which the software is as
            per the customer’s expectation. Testers refer SRS document to make sure
            that the software is as per the customer’s standard.
            <!-- Once the product is tested, it is deployed in the production
                    environment or first UAT (User Acceptance testing) is done
                    depending on the customer expectation. In the case of UAT, a
                    replica of the production environment is created and the
                    customer along with the developers does the testing. If the
                    customer finds the application as expected, then sign off is
                    provided by the customer to go live. Setting up CI/CD
                    pipelines and managing deployment processes. -->
            <div class="grid grid-cols-2 gap-2 mt-4">
                <ProcessDiv serial="1" class="col-span-2">
                    Optimization
                </ProcessDiv>
                <ProcessDiv serial="2">Testing</ProcessDiv>
                <ProcessDiv serial="3"> Quality Assurance </ProcessDiv>
            </div>
        </ProcessCard>

        <ProcessCard tag="Phase 5" title="Monitoring & Support">
            After the deployment of a product on the production environment,
            maintenance of the product i.e. if any issue comes up and needs to
            be fixed or any enhancement is to be done is taken care by the
            developers. Monitoring application performance, bug fixing, and
            updating software.
            <div class="grid grid-cols-2 gap-2 mt-4">
                <ProcessDiv serial="1">Documentation</ProcessDiv>
                <ProcessDiv serial="2">Education & Training</ProcessDiv>
                <ProcessDiv serial="3" class="col-span-2">
                    Deployment & Scaling
                </ProcessDiv>
                <ProcessDiv serial="4" class="col-span-2">
                    Ongoing Development
                </ProcessDiv>
            </div>
        </ProcessCard>
    </div>
</Section>
