---
import SkillCard from "../(components)/_SkillCard.astro";
import Heading from "../(components)/_Heading.astro";
import Section from "../(components)/_Section.astro";
---

<Heading label="Services"> What can we do for you? </Heading>
<Section>
    {/* SHOW THEM WHAT PROBLEMS CAN YOU SOLVE FOR THEM! */}

    <div class="flex flex-row flex-wrap gap-4">
        <!-- <Card2 label="Micro-Frontends" img="" /> -->
        <!-- <Card2 label="Backend" img="" /> -->
        <!-- <Card2 label="Micro Services" img="" /> -->
        <!-- <Card2 label="Real-time and Collaborative UI" img="" /> -->
        <!-- <Card2 label="Collaboration mode for your users" img="" /> -->
        <SkillCard
            label="Scalable real-time updates"
            img="https://em-content.zobj.net/source/apple/391/vibration-mode_1f4f3.png"
        />
        <SkillCard
            label="Real-time IoT data processing"
            img="https://em-content.zobj.net/source/apple/391/alarm-clock_23f0.png"
        />
        <SkillCard
            label="Infrastructure"
            img="https://em-content.zobj.net/source/apple/391/building-construction_1f3d7-fe0f.png"
        />
        <SkillCard
            label="CI/CD setup"
            img="https://em-content.zobj.net/source/apple/391/locomotive_1f682.png"
        />
        <SkillCard
            label="Auto-scaling"
            img="https://em-content.zobj.net/source/apple/391/control-knobs_1f39b-fe0f.png"
        />
        <SkillCard
            label="Observability"
            img="https://em-content.zobj.net/source/apple/391/eye-in-speech-bubble_1f441-fe0f-200d-1f5e8-fe0f.png"
        />
        <SkillCard
            label="Cloud migration"
            img="https://em-content.zobj.net/source/apple/391/sun-behind-cloud_26c5.png"
        />
        <SkillCard
            label="Cloud cost optimization"
            img="https://em-content.zobj.net/source/apple/391/money-with-wings_1f4b8.png"
        />
        <SkillCard
            label="Frontend perfomance"
            img="https://em-content.zobj.net/source/apple/391/high-voltage_26a1.png"
        />
        <SkillCard
            label="Complex upgrades"
            img="https://em-content.zobj.net/source/apple/391/comet_2604-fe0f.png"
        />
    </div>
    {/* Technologies that I work with */}

    <div class="my-16 text-center text-2xl font-medium text-text-primary">
        and much more to create an amazing product!
    </div>
</Section>
