---
import Testimonials from "@/components/sections/Testimonials.astro";
import Section from "@/components/ui/Section.astro";
import Heading from "../(components)/_Heading.astro";
---

<Section id="testimonials">
    <Heading label="Testimonials" heading="Why people work with me?" />

    <!-- <div class="grid md:grid-cols-2 gap-x-4 gap-y-4">
        <div
            class="mb-16 rounded-2xl border border-border/10 bg-bg-primary/50 p-4 max-md:mb-8"
        >
            <div
                class="mb-4 text-xs font-semibold uppercase text-text-secondary"
            >
                My Work Philosophy
            </div>
            <div class="text-xl font-semibold">μεράκι - Meraki</div>
            <div class="mt-0.5 text-sm">pronounced: meh-rah-kee</div>
            <p class="mt-2 text-base">
                The soul, creativity, or love put into something;<br /> putting your
                essence in your work.
            </p>
        </div>

        <div
            class="rounded-2xl border border-border/20 bg-bg-primary p-4 row-span-2"
        >
            <ul>
                <li>Self-motivation and ability to work independently</li>
                <li>Collaboration</li>
                <li>
                    Problem-Solving: Ability to design and implement solutions
                    to complex problems.
                </li>
                <li>
                    Communication: Clear and effective communication with
                    clients and team members.
                </li>
                <li>
                    Time Management: Delivering work on time and managing
                    multiple projects efficiently.
                </li>
                <li>
                    Adaptability: Quickly learning new tools or methodologies as
                    required.
                </li>
                <li>
                    Client Collaboration: Understanding client requirements and
                    providing valuable feedback or suggestions.
                </li>
                <li>
                    Documentation: Creating detailed technical documentation for
                    future reference.
                </li>
                <li>
                    Cultural Fit: Alignment with the company's values and work
                    culture.
                </li>
                <li>
                    Soft Skills: Good communication, teamwork, and project
                    management skills.
                </li>
            </ul>
        </div>

        <div class="rounded-2xl border border-border/20 bg-bg-primary p-4">
            <div class="text-xl font-semibold">My Values</div>
            <p class="mt-2 text-base">
                1. Clients always come first.
                <br />
                2. Get it done. No excuses.
                <br />
                3. Stay humble, Be confident.
                <br />
                4. Respect time and resources.
            </p>
        </div>
    </div>

    <h3 class="text-4xl text-text-primary mt-16 mb-6 font-semibold">
        Here's what my clients say
    </h3> -->

    <Testimonials />
</Section>
