---
import Heading from "../(components)/_Heading.astro";
import Section from "../(components)/_Section.astro";
---

<Heading label="Featured Projects"> Featured Works </Heading>

<Section>{/* TODO: Project Showcase (Miniature) */}</Section>
