---
import Heading from "../(components)/_Heading.astro";
import Section from "../(components)/_Section.astro";

// TODO: SHOW MOBILE MOCKUPS WITH HANDS ON THE WORK SECTION
// Relax, Talk with the client, Keep it minimal, focus on Product Development and Business Outcomes.
---

<Heading label="Works"> Featured Projects </Heading>

<Section>{/* TODO: Project Showcase (Miniature) */}</Section>
