---
import CursorBubble from "@/components/CursorBubble.astro";
---

<section class="relative pb-32 md:pb-48 pt-56 md:pt-72 max-w-[64rem] mx-auto">
  <div class="relative px-8 md:px-24">
    <CursorBubble
      class:list={["-top-[15%] max-md:-top-12 right-16 bg-purple-600"]}
      fillColor="fill-purple-500"
      text="Product"
    />
    <CursorBubble
      class:list={["left-32 top-[135%] bg-sky-600"]}
      fillColor="fill-sky-500"
      text="Technology"
    />
    <CursorBubble
      class:list={[
        "-top-8 left-48 max-md:-top-16 max-md:left-12 bg-orange-600",
      ]}
      fillColor="fill-orange-500"
      text="Artificial Intelligence"
    />
    <CursorBubble
      class:list={["right-48 max-md:right-12 top-[120%] bg-emerald-600"]}
      fillColor="fill-emerald-500"
      text="Customers"
    />
    <div class="text-center text-3xl md:text-5xl font-semibold leading-normal">
      {"Let's"}
      <span class="font-sans-serif font-normal italic tracking-tight">
        discuss
      </span>
      {"your"}
      <span class="font-sans-serif font-normal italic tracking-tight">
        ideas
      </span>
      {"and figure out how we are a great"}
      <span class="font-sans-serif font-normal italic tracking-tight">fit</span>
      {"for each-other."}
    </div>
  </div>

  <button
    type="button"
    class="mx-auto uppercase font-bold mt-36 block rounded-2xl hover:rounded-xl bg-gradient-to-b from-text-secondary to-text-primary hover:scale-105 transition-all duration-300 cursor-pointer px-12 py-4 text-xl text-background"
  >
    Schedule Meeting
  </button>
</section>
