---
import { getCollection } from 'astro:content';
import Icon from '@/components/ui/Icon.astro';
import Section from '../ui/Section.astro';

const items = await getCollection('testimonials');
---

<Section
    class:list={[
        "grid grid-cols-1 gap-4",
        "md:flex md:flex-row md:flex-wrap md:items-center md:justify-evenly md:gap-8",
    ]}
>
    {
        items.map(({ data: testimonial }) => (
            <div class="group h-fit flex-[1_0_30%] rounded-3xl border border-border/10 bg-bg-primary/50 px-6 py-5">
                <div class="w-fit flex flex-row gap-1 text-xl tracking-tighter group-hover:effect-shine">
                    <Icon
                        icon="Star"
                        class="size-4 text-yellow-600 fill-yellow-500 stroke-1"
                    />
                    <Icon
                        icon="Star"
                        class="size-4 text-yellow-600 fill-yellow-500 stroke-1"
                    />
                    <Icon
                        icon="Star"
                        class="size-4 text-yellow-600 fill-yellow-500 stroke-1"
                    />
                    <Icon
                        icon="Star"
                        class="size-4 text-yellow-600 fill-yellow-500 stroke-1"
                    />
                    <Icon
                        icon="Star"
                        class="size-4 text-yellow-600 fill-yellow-500 stroke-1"
                    />
                </div>

                <p class="mt-4 text-pretty text-xs md:text-sm">
                    {testimonial.text}
                </p>

                <div class="mt-4">
                    <div class="font-medium text-text-primary">
                        {testimonial.id}
                    </div>
                    <div class="text-text-tertiary leading-tight">
                        {testimonial.role}
                    </div>
                </div>
            </div>
        ))
    }
</Section>
