@font-face {
  font-family: 'Inter';
  src: url('/fonts/InterVariable.woff2') format('woff');
  font-display: swap;
  /* font-style: normal; */
  font-optical-sizing: auto;
}

@font-face {
  font-family: 'Lora';
  src: url('/fonts/LoraVariable.ttf') format('ttf');
  font-display: swap;
  /* font-style: normal; */
  font-optical-sizing: auto;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

@layer base {
  :root {
    --bg: 240 6% 90%;
    --bg-primary: 240 5% 65%;
    --bg-secondary: 240 5% 84%;
    --bg-tertiary: 240 4% 16%;
    --text: 240 6% 10%;
    --text-primary: 240 4% 16%;
    --text-secondary: 240 4% 24%;
    --text-tertiary: 240 4% 46%;
    --border: 240 4% 16%;
  }

  .dark {
    --bg: 240 6% 10%;
    --bg-primary: 240 5% 34%;
    --bg-secondary: 240 4% 16%;
    --bg-tertiary: 240 4% 16%;
    --text: 240 5% 96%;
    --text-primary: 240 5% 100%;
    --text-secondary: 240 5% 85%;
    --text-tertiary: 240 5% 60%;
    --border: 240 5% 96%;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  scrollbar-gutter: stable;
}

a:focus,
textarea:focus,
input:focus {
  outline: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

a {
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
}

a:focus,
input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: 2px solid lightgray;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

summary::-webkit-details-marker {
  display: none;
}

summary::marker {
  content: '';
}

/* TODO: USE @starting-style FOR BETTER TRANSITIONS  */

/* TODO: try out in real simulation */
/* @media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        background-attachment: initial !important;
        scroll-behavior: auto !important;
        transition-duration: 1ms !important;
        transition-delay: 1ms !important;
    }
} */

/* @keyframes apple-wobble {
    0% {
        transform: rotate(1deg);
        animation-timing-function: ease-in;
    }

    50% {
        transform: rotate(-1.5deg);
        animation-timing-function: ease-out;
    }
} */

/* @keyframes shine {
    0% {
        @apply left-[-150px];
    }

    30% {
        @apply left-[100%];
    }

    100% {
        @apply left-[100%];
    }
}

.shine-effect {
    clip-path: border-box;
}

.shine-effect:before {
    @apply top-0 -left-[150px] absolute w-[150px] h-full;
    content: '';
    background-image: linear-gradient(120deg,
            rgba(255, 255, 255, 0) 30%,
            rgba(255, 255, 255, .5),
            rgba(255, 255, 255, 0) 70%);
    animation: shine 5s infinite ease-in-out;
} */