---

import {
  LuGithub,
  LuInstagram,
  LuLinkedin,
  LuMail,
  LuTwitter,
} from "react-icons/lu";

// TODO: Privacy Policy for the analytical data that is collected

// TODO - WILL REPLACING REACT-ICONS WITH ICONS SVG BE A GOOD IDEA?

---

<footer class="pb-8 pt-12 text-base">
  <div class="section mt-6 max-w-[100%] text-center">
    <div class="flex flex-row justify-center gap-12 *:hover:text-foreground">
      <a href="mailto:hi@adityab.tech" target="_blank">
        <LuMail class:list="-mt-0.5 mr-2 inline-block size-5" />
        hi@adityab.tech
      </a>
      <a href="https://x.com/adityab_tech" target="_blank">
        <LuTwitter class:list="-mt-0.5 mr-2 inline-block size-5" />
        Twitter (X)
      </a>
      <a href="https://x.com/adityab_tech" target="_blank">
        <LuLinkedin class:list="-mt-0.5 mr-2 inline-block size-5" />
        LinkedIn
      </a>
      <a href="https://x.com/adityaborkar" target="_blank">
        <LuGithub class:list="-mt-0.5 mr-2 inline-block size-5" />
        GitHub
      </a>
      <a href="https://x.com/adityab_tech" target="_blank">
        <LuInstagram class:list="-mt-0.5 mr-2 inline-block size-5" />
        Instagram
      </a>
    </div>

    <div class="mt-24">
      Designed with ❤️ and built with ✨ by Aditya Borkar 😉
    </div>
  </div>
</footer>