---
// import Benefits from '../sections/Benefits'
// import CTA from '../sections/CTA'
// import Faqs from '../sections/Faqs'
// import Headline from '../sections/Headline'
// import IntegrationsGPT from '../sections/IntegrationsGPT'
// import Process from '../sections/Process'
// import RecentWork from '../sections/RecentWork'
---

<main data-scroll class="relative cursor-default pt-12">
  {/* <CustomScroll /> */}

  <!-- <Headline /> -->

  {/* <IntegrationsGPT /> */}

  <!-- <RecentWork /> -->

  <!-- <Benefits /> -->

  <!-- <Process /> -->

  <!-- <Faqs /> -->

  <!-- <CTA /> -->
</main>
