---
import { twMerge } from "tailwind-merge";

interface Props {
  href: string;
  className?: string;
}

const { href, className } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noreferrer"
  class={twMerge(
    "relative block w-full rounded-md bg-neutral-200 px-4 py-3 font-medium text-neutral-800",
    className
  )}
>
  <slot />
</a>
