---
import LandingLayout from '@/layouts/LandingLayout/index.astro'

import { FaInstagram, FaLinkedin, FaTwitter } from 'react-icons/fa6'
import { HiCalendar } from 'react-icons/hi2'

import InlineLink from './InlineLink.astro'
import ScheduleMeetBtn from '@/components/ScheduleMeetBtn.astro'

const SchemaMarkup = {
  //   "@context": "https://schema.org/",
  //   "@type": "",
  //   name: "Contact",
} as const

//
// ... email me at hello@arnau.design
---

<LandingLayout
  title="Contact"
  description="Contact me for projects, podcasts, talks, consultations, & collabs."
  keywords={[
    'contact',
    'projects',
    'podcasts',
    'talks',
    'consultations',
    'collabs',
  ]}
  schemaMarkup={SchemaMarkup}
>
  <main class="mx-auto my-24 w-full max-w-[36rem]">
    <h2 class="mb-4 text-4xl font-bold">How can I help you?</h2>
    <div class="font-medium text-text-secondary">
      I'm available for projects, talks, consultations, & collabs. Looking to
      start a new project or just want to say hi? Email me, and I'll do my best
      to reply within 24 hrs.
    </div>

    <form class="mt-12">
      <div class="group relative">
        <label for="contactForm_details" class="text-text-primary">
          Tell me about your project:
        </label>
        <textarea
          id="contactForm_details"
          placeholder="Feel free to write here..."
          class="peer mt-1 block h-64 w-full rounded-md bg-neutral-900 px-4 py-2 placeholder:text-neutral-500 group-hover:pb-24"
        ></textarea>
        <div
          class="absolute bottom-0 hidden w-full rounded-b-md border-t border-neutral-700 bg-neutral-900 px-4 py-2 text-xs text-neutral-400 group-hover:block group-focus:block peer-hover:block peer-focus:block"
        >
          Be detailed as much as possible. Attach reference or prototype or
          existing website or inspirations. Share what's on your mind. This
          helps me to understand if I am fit and get back to you with a
          personalized response.
        </div>
      </div>
      <div class="mt-4 grid grid-cols-2 gap-4">
        <div>
          <label for="contactForm_name" class="text-text-primary">
            Your Name:
          </label>
          <input
            type="text"
            id="contactForm_name"
            placeholder="Takeshi Williams"
            class="mt-1 block w-full rounded-md bg-neutral-900 px-4 py-2 placeholder:text-neutral-500"
          />
        </div>

        <div>
          <label for="contactForm_email" class="text-text-primary">
            Your Email:
          </label>
          <input
            type="email"
            id="contactForm_email"
            placeholder="takeshi.williams@space.io"
            class="mt-1 block w-full rounded-md bg-neutral-900 px-4 py-2 placeholder:text-neutral-500"
          />
        </div>
      </div>
    </form>

    <div class="mt-10 flex flex-row justify-between">
      <div class="mt-2 text-text-primary">
        <HiCalendar className="inline-block" />
        <ScheduleMeetBtn
          className="mx-2 underline underline-offset-4 hover:underline-offset-8"
        >
          Schedule a call
        </ScheduleMeetBtn>
        instead
      </div>
      <button
        type="submit"
        class="rounded-lg bg-neutral-300 px-5 py-2 font-medium text-neutral-950 hover:bg-white"
      >
        Submit Inquiry
      </button>
    </div>

    <div class="mt-24 text-text-secondary">
      <div>
        {"If contact forms aren't your thing, email me at "}
        <a
          href="mailto:hi@adityaborkar.com"
          class="font-medium underline underline-offset-4 hover:underline-offset-8"
        >
          hi@adityaborkar.com
        </a>
      </div>
      <div class="mt-2">
        {'or feel free to reach me on '}
        <InlineLink href="https://x.com/adityab_tech/dm" icon={FaTwitter}>
          Twitter
        </InlineLink>
        <InlineLink
          href="https://linkedin.com/adityab_tech/dm"
          icon={FaLinkedin}
        >
          LinkedIn
        </InlineLink>
        <InlineLink
          href="https://instagram.com/adityab_tech/dm"
          icon={FaInstagram}
        >
          Instagram
        </InlineLink>
      </div>
    </div>
  </main>
</LandingLayout>
