---
import type { IconType } from "react-icons";

interface Props {
  icon: IconType;
  href: string;
}

const { icon, href } = Astro.props;
---

<a
  href={href}
  class="mx-1 rounded-md border border-border bg-bg-primary px-2 py-1 text-sm"
>
  <icon class="-mt-1 mr-2 inline size-4"></icon>
  <slot />
</a>
