---
import Chat from './chat';

// popovertarget="my-popover"
// popovertargetaction="show"

// hide if cookie is not accepted
---

<button
    class="fixed bottom-8 right-8 hidden px-6 shadow-lg py-3 rounded-full border border-border/20 bg-background text-text-primary cursor-pointer"
>
    Ask AI Assistant
</button>

<!-- <Chat client:only="react" /> -->
