---
import Chat from "./chat";

// popovertarget="my-popover"
// popovertargetaction="show"

// Animation must be like dynamic island

// Shake mouse to make it look bigger

// iMessage like interface
// Scrolling effect
// Sending effect
// Receiving effect
// Squircle shape
// Reaction button

// When projects open in desktop, open them as apps animation
// caret-blue-700

// Use GIFs and emojis ocassionally

// Step 1: Enter your first name
// Step 2: calculate pricing for speech API.

// Add option for reaction and respond to it.
// Speak option
// Clear chat

// If you exhaust limits, ask to solve a smart ai based captcha

// client:visible for React component to load after the page loading is done

// luminosity;

// TODO: RESET POSITION OF NAV SHADOW
// TODO: THEME CHANGE ANIMATION
// TODO: INPUT TEXT ANIMATION
// TODO: BUTTONS
// todo: home - waht we do cards
// testimonials as slanted cards
---

<button
    class="fixed bottom-8 right-8 px-6 shadow-lg py-3 rounded-full border border-border/20 bg-background text-text-primary cursor-pointer"
>
    Ask AI Assistant
</button>

<!-- <Chat client:only="react" /> -->
