---
import RoundMessage from '@/assets/icons/RoundMessage.svg';
import Chat from './chat';

const COOKIE_ACCEPTED = true;
---

<button
    class:list={[
        "fixed z-40 bottom-4 right-4 px-3 shadow-lg py-3 rounded-full border border-border/20 bg-background text-text-tertiary cursor-pointer",
        "md:bottom-8 md:right-8 md:px-6 md:z-50",
        !COOKIE_ACCEPTED && "!hidden",
    ]}
    onclick="document.getElementById('chat-dialog').showModal()"
>
    <!-- TODO: EXPERIMENT: Morph with Bot.svg -->
    <RoundMessage class="inline-block size-5 -mt-1" />
    <span class="max-md:hidden">Ask AI</span>
</button>

<Chat client:only="react" />
