---
import { Image } from "astro:assets";

import { getImage } from "@/lib/utils";

interface Props {
  src: string;
  alt?: string;
  class?: string;
  caption: string;
}

// TODO - Make bite-sized videos and play them on hover
---

<figure class:list={["group relative magic-fade", Astro.props.class]}>
  <Image
    src={getImage(Astro.props.src)}
    alt={Astro.props.alt || ""}
    class="h-full w-full cursor-pointer rounded-xl object-cover hover:scale-105 hover:shadow-xl hover:shadow-bg-secondary/20"
  />

  <figcaption
    class="group-hover:opacity-100 rounded-xl absolute left-0 top-0 flex h-full w-full items-end bg-gradient-to-t from-black/75 to-transparent opacity-0"
  >
    <span
      class="group-hover:block hidden text-sm text-pretty text-white magic-fade-up px-4 py-2 duration-500"
    >
      {Astro.props.caption}
    </span>
  </figcaption>
</figure>
