---
// TODO: Render this only on the first visit. Save in localStorage.
const showModal = true;
---

<!-- modal popup close animation -->
<div
    class:list={[
        "fixed hidden bottom-4 max-w-64 left-4 py-4 px-5 z-50 rounded-3xl backdrop-blur-xl border border-border/10",
        showModal && "block",
    ]}
>
    <div class="text-xs">
        We are transparent about privacy. We use only a single in-house cookie
        to remember your preferences.
    </div>
    <button
        class="border mx-auto block border-border/10 bg-background rounded-xl w-full mt-3 py-3"
    >
        <!-- pressed effect -->
        Alright, got it!
    </button>
</div>
