---

---

<div
    class="fixed bottom-4 max-w-56 left-4 py-3 px-4 z-50 rounded-lg bg-background border border-border/10"
>
    <div class="text-xs">
        We value your privacy. We don't use third party cookies - only a single
        in-house cookie.
    </div>
    <button
        class="border mx-auto block border-border/20 rounded-md w-full mt-4 py-1"
    >
        Okay, Thanks!
    </button>
</div>
