---
// .mask-gradient-1 {
//     -webkit-mask-image: linear-gradient(#0000 0%,#000 12.5% 25%,#0000 37.5%);
//     mask-image: linear-gradient(#0000,#000 12.5% 25%,#0000 37.5%)
// }

// .mask-gradient-2 {
//     -webkit-mask-image: linear-gradient(#0000 12.5%,#000 25% 37.5%,#0000 50%);
//     mask-image: linear-gradient(#0000 12.5%,#000 25% 37.5%,#0000 50%)
// }

// .mask-gradient-3 {
//     -webkit-mask-image: linear-gradient(#0000 25%,#000 37.5% 50%,#0000 62.5%);
//     mask-image: linear-gradient(#0000 25%,#000 37.5% 50%,#0000 62.5%);
// }

// .mask-gradient-4 {
//     -webkit-mask-image: linear-gradient(#0000 37.5%,#000 50% 62.5%,#0000 75%);
//     mask-image: linear-gradient(#0000 37.5%,#000 50% 62.5%,#0000 75%)
// }

// .mask-gradient-5 {
//     -webkit-mask-image: linear-gradient(#0000 50%,#000 62.5% 75%,#0000 87.5%);
//     mask-image: linear-gradient(#0000 50%,#000 62.5% 75%,#0000 87.5%)
// }

// .mask-gradient-6 {
//     -webkit-mask-image: linear-gradient(#0000 62.5%,#000 75% 87.5%,#0000 100%);
//     mask-image: linear-gradient(#0000 62.5%,#000 75% 87.5%,#0000)
// }

// .mask-gradient-7 {
//     -webkit-mask-image: linear-gradient(#0000 75%,#000 87.5% 100%);
//     mask-image: linear-gradient(#0000 75%,#000 87.5% 100%)
// }

// .mask-gradient-8 {
//     -webkit-mask-image: linear-gradient(#0000 87.5%,#000 100%);
//     mask-image: linear-gradient(#0000 87.5%,#000)
---

<div class="blur-container">
    <div
        class="mask-gradient-1 pointer-events-none fixed right-0 bottom-0 left-0 z-[1] h-12 backdrop-blur-[0.078125px] md:h-28"
    >
    </div>
    <div
        class="mask-gradient-2 pointer-events-none fixed right-0 bottom-0 left-0 z-[2] h-12 backdrop-blur-[0.15625px] md:h-24"
    >
    </div>
    <div
        class="mask-gradient-3 pointer-events-none fixed right-0 bottom-0 left-0 z-[3] h-12 backdrop-blur-[0.3125px] md:h-24"
    >
    </div>
    <div
        class="mask-gradient-4 pointer-events-none fixed right-0 bottom-0 left-0 z-[4] h-12 backdrop-blur-[0.625px] md:h-24"
    >
    </div>
    <div
        class="mask-gradient-5 pointer-events-none fixed right-0 bottom-0 left-0 z-[5] h-12 backdrop-blur-[1.25px] md:h-24"
    >
    </div>
    <div
        class="mask-gradient-6 pointer-events-none fixed right-0 bottom-0 left-0 z-[6] h-12 backdrop-blur-[2.5px] md:h-24"
    >
    </div>
    <div
        class="mask-gradient-7 pointer-events-none fixed right-0 bottom-0 left-0 z-[7] h-12 backdrop-blur-[5px] md:h-24"
    >
    </div>
    <div
        class="mask-gradient-8 pointer-events-none fixed right-0 bottom-0 left-0 z-[8] h-12 backdrop-blur-[10px] md:h-24"
    >
    </div>
</div>
