---
import { cn } from '@/lib/utils'

interface Props {
  label?: string
  className?: string
}

const { label, className } = Astro.props
---

<div
  class={cn(
    'rounded-3xl border border-bg-secondary bg-zinc-100 py-6 px-8 hover:shadow-zinc-300/50 dark:bg-zinc-950',
    className,
  )}
>
  {
    label && (
      <div class="mb-4 text-xs font-semibold uppercase tracking-wider text-text-tertiary">
        {label}
      </div>
    )
  }
  <slot />
</div>
