/*

@import "tailwindcss";

@theme {
  --font-family-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 1920px;
  --color-neon-pink: oklch(71.7% 0.25 360);
  --color-neon-lime: oklch(91.5% 0.258 129);
  --color-neon-cyan: oklch(91.3% 0.139 195.8);
}
  
*/


@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  @apply bg-amber-400 text-black
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  cursor: default;
  @apply transition-all;
}

html {
  scrollbar-gutter: stable;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  @apply text-neutral-200 bg-[#040404];
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

a {
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
}

a:focus,
input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: 2px solid lightgray;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

summary::-webkit-details-marker {
  display: none;
}

summary::marker {
  content: ""
}

body

/* #root,
#__next */
  {
  /* TODO: REVIEW THIS AFTER REACT 19 (RSC) */
  isolation: isolate;
}

@view-transition {
  navigation: auto;
}

/* TODO: USE @starting-style FOR BETTER TRANSITIONS  */

@media (prefers-reduced-motion: reduce) {

  /* TODO: try out in real simulation */
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 1ms !important;
    transition-delay: 1ms !important;
  }
}

/*

@keyframes shine {
  0% {
    @apply left-[-150px]
  }

  30% {
    @apply left-[100%]
  }

  100% {
    @apply left-[100%]
  }
}

.shine-effect {
  clip-path: border-box;
}

.shine-effect:before {
  @apply top-0 -left-[150px] absolute w-[150px] h-full;
  content: '';
  background-image: linear-gradient(120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, .5),
      rgba(255, 255, 255, 0) 70%);
  animation: shine 5s infinite ease-in-out;
}

*/