---
import { cn } from '@/lib/utils'

interface Props {
  label: string
  className?: string
}

const { label, className } = Astro.props
---

<div
  class={cn(
    'cursor-pointer rounded-3xl border border-bg-secondary bg-zinc-100 p-6 hover:shadow-xl hover:shadow-zinc-300/50 dark:bg-zinc-950',
    className,
  )}
>
  <div
    class="mb-4 text-xs font-semibold uppercase tracking-wider text-text-secondary"
  >
    {label}
  </div>
  <slot />
</div>
