---
import { Font } from 'astro:assets';
import type { ComponentProps } from 'astro/types';
// import Navbar from "@/components/ui/Navbar.astro";
import AiAssistant from '@/components/AiAssistant.astro';
import RootLayout from '../RootLayout.astro';

interface Props extends ComponentProps<typeof RootLayout> {
	sustainability?: {
		co2: number;
		link: string;
	};
}

const { sustainability, ...seo } = Astro.props;
---

<Font cssVariable="--font-pixelify" preload />

<RootLayout {...seo}>
    <!-- <Navbar /> -->

    <AiAssistant />

    <div class="pt-20"></div>

    <div class="mx-auto max-w-[96rem] px-16">
        <slot />
    </div>
</RootLayout>
