---
import LandingLayout from "@/layouts/LandingLayout/index.astro";
import { SchemaMarkup } from "@/lib/utils";
import CookiePolicy from "./_cookie-policy.mdx";
import PrivacyPolicy from "./_privacy-policy.mdx";
import TermsOfService from "./_terms-of-service.mdx";

const title = "Legal Terms";
const description = "Legal Terms";
const keywords = ["legal", "terms"];
const schema_markup = await Promise.all([SchemaMarkup.get("webpage/page")]);
const open_graph = {};
const seo = { title, description, keywords, schema_markup, open_graph };
const sustainability = {
  co2: 0.25,
  link: "adityab-tech",
};
---

<LandingLayout {...seo} sustainability={sustainability}>
  <div
    animate-fade
    class:list={[
      "prose dark:prose-invert py-16 min-h-screen mx-auto max-w-[48rem] prose-p:leading-normal",
      "bg-background", // ? FIX FOR BACKDROP BLUR
    ]}
  >
    <main id="privacy-policy">
      <PrivacyPolicy />
    </main>
    <main id="terms-of-service">
      <TermsOfService id="ok" />
    </main>
    <main id="cookie-policy">
      <CookiePolicy />
    </main>
  </div>
</LandingLayout>
