---
import { Image } from "astro:assets";

interface Props {
    src: ImageMetadata | Promise<{ default: ImageMetadata }>;
    alt: string;
    href: string;
}

const { src, alt, href } = Astro.props;
---

<a
    href={href}
    class:list={[
        "mx-2  block h-[12rem] w-[20rem] ",
        "md:h-[20rem] md:w-[36rem] md:mx-4",
    ]}
>
    {/* @ts-ignore - Bug in Astro Typings */}
    <Image
        alt={alt}
        src={src}
        inferSize={true}
        class="marquee-content block h-full w-full rounded-lg border border-border/20 object-cover"
    />
</a>
