---
import Icon from "@/components/ui/Icon.astro";

interface Props {
  video: string;
}

const { video } = Astro.props;
---

<details
  class:list={[
    "relative px-4 py-2 cursor-pointer rounded-3xl border border-border/10 bg-bg-primary transition-all duration-300",
    "md:px-8 md:py-4",
    "hover:scale-105 hover:shadow-lg",
  ]}
  onmouseover="this.children[0].children[0].play()"
  onmouseout="this.children[0].children[0].pause()"
>
  <summary>
    {
      (
        <video
          src={video}
          class:list={["mx-auto block h-auto object-cover w-full"]}
          loop
          muted
        />
      )
    }
    <div
      class:list={[
        "text-left text-base font-semibold text-text-secondary",
        "md:text-xl",
      ]}
    >
      <slot name="title" />
    </div>
    <!-- @ts-expect-error -->
    <Icon
      icon="CirclePlus"
      class:list={[
        "absolute bottom-3 right-3 text-neutral-500",
        "md:bottom-5 md:right-5",
      ]}
    />
  </summary>

  <slot />
</details>
