---

---

<div
    class="backdrop:bg-black/50 fixed inset-0 flex items-center justify-center w-full h-full z-50"
>
    <div class="relative rounded-3xl p-8 bg-background border border-border/20">
        <div
            class="absolute top-4 right-4 rounded-full bg-background border border-border/20 p-2"
        >
            <button>X</button>
        </div>
        <h4 class="text-4xl font-semibold mb-4">Product Engineering</h4>
        <div class="mt-8 flex flex-row gap-16">
            <div class="text-lg flex flex-col gap-2 text-text-secondary">
                <div>You have an exciting idea?</div>
                <div>Need help in building it?</div>
                <div>Need to validate your idea?</div>
                <div>Need to build a prototype?</div>
                <div>Want to scale?</div>
            </div>
            <div class="w-96 h-64 bg-neutral-900"></div>
        </div>

        <div class="mt-8 flex flex-row gap-4">
            <div>
                <div>What's included?</div>
                <ul>
                    <li>Discovery & Requirements Analysis</li>
                    <li>Planning & Strategy</li>
                    <li>Design & Prototyping</li>
                    <li>Development</li>
                    <li>Testing & Quality Assurance</li>
                    <li>Deployment & DevOps</li>
                    <li>Post-Launch Support & Maintenance</li>
                    <li>Documentation</li>
                    <li>Training & Knowledge Transfer</li>
                    <li>Project Management & Communication</li>
                    <li>Security & Compliance</li>
                    <li>Scalability & Future-Proofing</li>
                    <li>Client Collaboration & Feedback</li>
                    <li>Legal & IP Considerations</li>
                    <li>Post-Launch Optimization</li>
                    <li>
                        Additional Services
                        <ul>
                            <li>Data Migration</li>
                            <li>Localization</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div>
                <div>What's included in all services?</div>
                <ul>
                    <li>Daily Communication + Minimal Response Time</li>
                    <li>Timezone Sync</li>
                    <li>Flexible Engagement Models</li>
                    <li>Regular Updates</li>
                    <li>Priority Support</li>
                    <li>Scalability</li>
                    <li>Future-Proofing</li>
                    <li>Reports</li>
                </ul>
            </div>
        </div>
    </div>
</div>
