@import "lenis/dist/lenis.css";
@import "tailwindcss";

@plugin "@tailwindcss/typography";

@variant dark (&:where(.dark, .dark *));

@theme {
	--font-serif: var(--font-lora), serif;
	--font-sans-serif: var(--font-inter), sans-serif;
	--animate-marquee: marquee var(--duration) infinite linear;
	--animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

	--color-background: var(--color-neutral-200);
	--color-bg-primary: var(--color-neutral-50);
	--color-bg-secondary: var(--color-neutral-100);
	--color-bg-tertiary: var(--color-neutral-200);
	--color-text: var(--color-neutral-800);
	--color-text-primary: var(--color-slate-950);
	--color-text-secondary: var(--color-slate-800);
	--color-text-tertiary: var(--color-slate-600);
	--color-text-quaternary: var(--color-neutral-500);
	--color-border: var(--color-neutral-900);
}

@layer theme {
	.dark {
		--color-background: var(--color-neutral-950);
		--color-bg-primary: var(--color-neutral-900);
		--color-bg-secondary: var(--color-neutral-800);
		--color-bg-tertiary: var(--color-neutral-700);
		--color-text: var(--color-neutral-300);
		--color-text-primary: var(--color-neutral-100);
		--color-text-secondary: var(--color-neutral-300);
		--color-text-tertiary: var(--color-neutral-400);
		--color-text-quaternary: var(--color-neutral-500);
		--color-border: var(--color-neutral-400);
	}

	*::selection {
		@apply bg-emerald-400/50 text-black;
	}

	.dark *::selection {
		@apply bg-emerald-500/40 text-white;
	}

	html {
		scrollbar-gutter: stable;
		scroll-behavior: smooth;
	}

	a {
		@apply cursor-pointer;
	}

	img,
	picture,
	video,
	canvas,
	svg {
		@apply block max-w-full;
	}

	input,
	button,
	textarea,
	select {
		@apply font-[inherit];
	}

	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply break-words;
	}

	summary::-webkit-details-marker {
		@apply hidden;
	}

	summary::marker {
		@apply content-[''];
	}

	@media (prefers-reduced-motion: reduce) {
		*,
		::before,
		::after {
			animation-delay: -1ms !important;
			animation-duration: 1ms !important;
			animation-iteration-count: 1 !important;
			background-attachment: initial !important;
			scroll-behavior: auto !important;
			transition-duration: 1ms !important;
			transition-delay: 1ms !important;
		}
	}
}

@layer base {
	/* CSS RESET */

	a:focus,
	input:focus,
	select:focus,
	button:focus,
	summary:focus,
	textarea:focus {
		@apply outline-none;
	}

	body::-webkit-scrollbar {
		/* required - the "base" of the bar - mostly for setting width */
	}

	body::-webkit-scrollbar-track {
		/* the "track" of the bar - great for customizing "background" colors */
	}

	body::-webkit-scrollbar-thumb {
		/* the actual draggable element, the star of the show! */
	}
}

@layer base {
	/* LENIS */

	html.lenis,
	html.lenis body {
		height: auto;
	}

	.lenis.lenis-smooth {
		scroll-behavior: auto !important;
	}

	.lenis.lenis-smooth [data-lenis-prevent] {
		overscroll-behavior: contain;
	}

	.lenis.lenis-stopped {
		overflow: hidden;
	}

	.lenis.lenis-smooth iframe {
		pointer-events: none;
	}
}

@keyframes marquee {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(calc(-100% - var(--gap)));
	}
}

@keyframes marquee-vertical {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(calc(-100% - var(--gap)));
	}
}
