---
import { ClientRouter } from "astro:transitions";
import type { Thing, WithContext } from "schema-dts";
import CookiePopup from "@/components/CookiePopup.astro";
import Posthog from "@/components/Posthog.astro";
import { JsonLd } from "@/lib/jsonLd";
import "./global.css";
import { Font } from "astro:assets";

interface Props {
    title: string;
    description: string;
    keywords: string[];
    open_graph: Record<string, string>;
    schema_markup?: Promise<WithContext<Thing>>[] | WithContext<Thing>[];
}

const {
    title,
    description,
    keywords,
    // open_graph = {},
    schema_markup = [],
} = Astro.props;

export const partial = true;
---

<html lang="en" prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="Accept-CH" content="Width, Downlink, Sec-CH-UA" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <title>{title}</title>
        <meta name="description" content={description} />
        <meta name="keywords" content={keywords?.join(", ")} />
        <script
            type="application/ld+json"
            set:html={(await Promise.all(schema_markup)).map(JsonLd).join("\n")}
            is:inline
        />
        <!-- Open Graph -->
        <meta property="og:url" content="https://meta.com" />
        <meta property="og:title" content="The Rock" />
        <meta property="og:type" content="video.movie" />

        <meta
            property="og:url"
            content="https://www.imdb.com/title/tt0117500/"
        />
        <meta property="og:image" content="<generated>" />
        <meta property="og:image:alt" content="<generated>" />
        <meta property="og:image:type" content="<generated>" />
        <meta property="og:image:width" content="<generated>" />
        <meta property="og:image:height" content="<generated>" />
        <meta name="twitter:card" content="summary_large_image" />
        <!-- twitter:creator -->
        <!-- twitter:site -->
        <meta property="twitter:domain" content="meta.com" />
        <meta property="twitter:url" content="https://meta.com" />
        <meta name="twitter:title" content="Error | Meta Store" />
        <meta name="twitter:description" content="" />
        <meta name="twitter:image" content="<generated>" />
        <meta name="twitter:image:alt" content="<generated>" />
        <meta name="twitter:image:type" content="<generated>" />
        <meta name="twitter:image:width" content="<generated>" />
        <meta name="twitter:image:height" content="<generated>" />
        <!-- og:description - A one to two sentence description of your object. -->
        <!-- og:locale - The locale these tags are marked up in. Of the format language_TERRITORY. Default is en_US. -->
        <!-- og:site_name - If your object is part of a larger web site, the name which should be displayed for the overall site. e.g., "IMDb". -->

        <!--
        facebook.image	false	"/facebook.png"	Facebook share image.
        facebook.url	false	"https://astro.build"	Page URL.
        facebook.type	false	"website"	Type of resource. See all types here.
        twitter.image	false	"/twitter.png"	Twitter share image.
        twitter.site	false	"@"	Twitter handle of publishing site.
        twitter.card	false	"summary"	Format of Twitter share card. See all types here.
        -->
        <Font cssVariable="--font-inter" preload />
        <Font cssVariable="--font-lora" preload />
        <ClientRouter />
        <script data-astro-rerun type="module" is:inline>
            const doc = document.documentElement;
            window
                .matchMedia("(prefers-color-scheme: dark)")
                .addEventListener("change", (event) => {
                    const isDark = event.matches;
                    doc.classList.toggle("dark", isDark);
                    window.localStorage.setItem(
                        "theme",
                        isDark ? "dark" : "light",
                    );
                });

            const theme =
                window.localStorage.getItem("theme") ||
                (window.matchMedia("(prefers-color-scheme: dark)").matches
                    ? "dark"
                    : "light");
            console.log({ theme });
            doc.classList.toggle("dark", theme === "dark");

            document.body.style.visibility = "visible";
            document.body.style.opacity = "1";
        </script>
    </head>
    <body
        class="text-sm font-normal leading-normal antialiased relative min-h-screen cursor-default bg-background text-text-secondary font-sans-serif invisible opacity-0"
        style="text-rendering: optimizeLegibility; -webkit-text-size-adjust: 100%; scroll-behavior: smooth;"
    >
        <script>
            declare global {
                interface Window {
                    isMobile: boolean;
                }
            }

            function determineMobile() {
                window.isMobile = window.innerWidth < 768;
            }

            // Observe:
            window.addEventListener("resize", determineMobile);

            // Initialize:
            determineMobile();
        </script>

        <slot />

        <CookiePopup />

        <script>
            import Lenis from "lenis";
            new Lenis({ autoRaf: true, lerp: 0.06 });
        </script>

        {process.env.NODE_ENV !== "development" && <Posthog />}
    </body>
</html>
