---
import type { VariantProps } from "class-variance-authority";
import { buttonVariants } from "./Button.astro";

interface Props extends VariantProps<typeof buttonVariants> {
	href: string;
	class?: string;
	target?: "_blank" | "_self";
}

const { href, class: className, target, ...variantProps } = Astro.props;
---

<a
	href={href}
	target={target}
	class:list={[buttonVariants({ ...variantProps }), className]}
>
	<slot />
</a>
