---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"input"> {
	label: string;
	class?: string;
	wrapperClass?: string;
}

const {
	label,
	type = "text",
	class: className,
	wrapperClass,
	...props
} = Astro.props;
---

<div class:list={[wrapperClass]}>
	<div class="flex items-center justify-between mb-1">
		<label for={props.name} class="font-medium text-text-primary">
			{label}
		</label>
		<p class="text-xs text-red-600 dark:text-red-400 pr-2"></p>
	</div>
	<div class="relative">
		<input
			id={props.name}
			type={type}
			spellcheck="false"
			autocomplete="off"
			required
			{...props}
			class:list={[
				"w-full bg-bg-primary rounded-lg border border-border/20 px-3 py-2 text-sm text-text-primary",
				"placeholder:select-none placeholder:text-text-tertiary/60",
				"invalid:border-red-400 dark:invalid:border-red-900",
				"focus-visible:ring focus-visible:ring-border focus-visible:bg-bg-secondary",
				"transition-all duration-300",
				className,
			]}
		/>
	</div>
</div>
