---
interface Props {
  id?: string;
  class?: string;
  duration?: string;
  reverse?: boolean;
  vertical?: boolean;
  pauseOnHover?: boolean;
  repeat?: number;
}

const {
  repeat = 4,
  vertical = false,
  reverse = false,
  pauseOnHover = false,
  class: className,
  duration = "10s",
} = Astro.props;
---

<style is:global></style>

<!-- id={Astro.props.id} -->

<div
  class:list={[
    "group flex overflow-hidden p-2 [--gap:1rem] [gap:var(--gap)]",
    vertical ? "flex-col" : "flex-row",
    className,
  ]}
  style={`--duration: ${duration}`}
>
  {
    Array(repeat)
      .fill(0)
      .map((_) => (
        <div
          class:list={[
            "flex shrink-0 justify-around [gap:var(--gap)]",
            {
              "animate-marquee flex-row": !vertical,
              "animate-marquee-vertical flex-col": vertical,
              "[animation-direction:reverse]": reverse,
              "group-hover:[animation-play-state:paused]": pauseOnHover,
            },
          ]}
        >
          <slot />
        </div>
      ))
  }
</div>
