---
interface Props {
	id?: string;
	class?: string;
	duration?: string;
	direction?: 'left' | 'right';
}
---

<div
  id={Astro.props.id}
  class:list={["overflow-hidden cursor-grab", Astro.props.class]}
>
  <div
    class="inline-flex flex-row flex-nowrap overflow-auto whitespace-nowrap animate-scroll data-[direction=right]:[animation-direction:reverse]"
    style={`animation-duration: ${Astro.props.duration || "10s"};`}
    data-direction={Astro.props.direction || "left"}
  >
    <slot />
  </div>
</div>
