---
interface Props {
    href: string;
    label: string;
    // biome-ignore lint/suspicious/noExplicitAny: <explanation>
    icon: ((_props: astroHTML.JSX.SVGAttributes) => any) & ImageMetadata;
    iconClass?: string;
}

const { href, label, icon: Icon, iconClass }: Props = Astro.props;
---

<a
    href={href}
    class:list={[
        "mx-1 font-medium border border-border/20 bg-bg-primary rounded-md px-2 py-1",
        "hover:text-text-primary focus-visible:text-text-primary focus-visible:border-border/40 focus-visible:bg-bg-secondary hover:border-border/40 hover:bg-bg-secondary",
    ]}
>
    <Icon class:list={["size-4 inline-block fill-current -mt-1", iconClass]} />
    {label}
</a>
