---
import LandingLayout from "@/layouts/LandingLayout/index.astro";

const SchemaMarkup = {
  "@context": "https://schema.org/",
  "@type": "PrivacyPolicy",
  name: "Privacy Policy",
} as const;
// https://www.delhivery.com/terms-and-conditions
// https://evilmartians.com/privacy
// privacy#notice_at_collection

// Information Security Policy
// Delhivery is committed to safeguarding the confidentiality, integrity and availability of all physical and electronic information assets of the organization.
// We ensure that the regulatory, operational and contractual requirements are fulfilled.

// TODO: MAKE SURE NO COOKIES ARE STORED IN THE BROWSER. NO-COOKIE POLICY.
// Popup: We do not use cookies on this website. We respect your privacy.
---

<LandingLayout
  title="Policy"
  description="Policy"
  keywords={["policy"]}
  schemaMarkup={SchemaMarkup}
>
  <main>Policy</main>
</LandingLayout>
